/*
 * File:    colors.css
 * Author:  Henry Feild
 * Date:    19-Aug-2019
 * Purpose: Defines the colors for entity highlighting. These were scraped from
 *          https://www.colorhexa.com/color-names.
 */




 .g0{ color: white; background-color: #5d8aa8}
 .g1{ color: black; background-color: #f0f8ff}
 .g2{ color: white; background-color: #e32636}
 .g3{ color: black; background-color: #efdecd}
 .g4{ color: white; background-color: #e52b50}
 .g5{ color: black; background-color: #ffbf00}
 .g6{ color: white; background-color: #ff033e}
 .g7{ color: white; background-color: #9966cc}
 .g8{ color: black; background-color: #a4c639}
 .g9{ color: black; background-color: #f2f3f4}
 .g10{ color: black; background-color: #cd9575}
 .g11{ color: white; background-color: #915c83}
 .g12{ color: black; background-color: #faebd7}
 .g13{ color: white; background-color: #008000}
 .g14{ color: black; background-color: #8db600}
 .g15{ color: black; background-color: #fbceb1}
 .g16{ color: black; background-color: #00ffff}
 .g17{ color: black; background-color: #7fffd4}
 .g18{ color: white; background-color: #4b5320}
 .g19{ color: black; background-color: #e9d66b}
 .g20{ color: black; background-color: #b2beb5}
 .g21{ color: black; background-color: #87a96b}
 .g22{ color: black; background-color: #ff9966}
 .g23{ color: white; background-color: #a52a2a}
 .g24{ color: black; background-color: #fdee00}
 .g25{ color: white; background-color: #6e7f80}
 .g26{ color: white; background-color: #ff2052}
 .g27{ color: white; background-color: #007fff}
 .g28{ color: black; background-color: #f0ffff}
 .g29{ color: black; background-color: #89cff0}
 .g30{ color: black; background-color: #a1caf1}
 .g31{ color: black; background-color: #f4c2c2}
 .g32{ color: black; background-color: #21abcd}
 .g33{ color: black; background-color: #fae7b5}
 .g34{ color: black; background-color: #ffe135}
 .g35{ color: black; background-color: #848482}
 .g36{ color: white; background-color: #98777b}
 .g37{ color: black; background-color: #bcd4e6}
 .g38{ color: black; background-color: #9f8170}
 .g39{ color: black; background-color: #f5f5dc}
 .g40{ color: black; background-color: #ffe4c4}
 .g41{ color: white; background-color: #3d2b1f}
 .g42{ color: black; background-color: #fe6f5e}
 .g43{ color: white; background-color: #000000}
 .g44{ color: black; background-color: #ffebcd}
 .g45{ color: white; background-color: #318ce7}
 .g46{ color: black; background-color: #ace5ee}
 .g47{ color: black; background-color: #faf0be}
 .g48{ color: white; background-color: #0000ff}
 .g49{ color: black; background-color: #a2a2d0}
 .g50{ color: black; background-color: #6699cc}
 .g51{ color: white; background-color: #0d98ba}
 .g52{ color: white; background-color: #8a2be2}
 .g53{ color: white; background-color: #8a2be2}
 .g54{ color: black; background-color: #de5d83}
 .g55{ color: white; background-color: #79443b}
 .g56{ color: white; background-color: #0095b6}
 .g57{ color: black; background-color: #e3dac9}
 .g58{ color: white; background-color: #cc0000}
 .g59{ color: white; background-color: #006a4e}
 .g60{ color: white; background-color: #873260}
 .g61{ color: white; background-color: #0070ff}
 .g62{ color: black; background-color: #b5a642}
 .g63{ color: white; background-color: #cb4154}
 .g64{ color: black; background-color: #1dacd6}
 .g65{ color: black; background-color: #66ff00}
 .g66{ color: black; background-color: #bf94e4}
 .g67{ color: white; background-color: #c32148}
 .g68{ color: white; background-color: #ff007f}
 .g69{ color: black; background-color: #08e8de}
 .g70{ color: black; background-color: #d19fe8}
 .g71{ color: black; background-color: #f4bbff}
 .g72{ color: black; background-color: #ff55a3}
 .g73{ color: black; background-color: #fb607f}
 .g74{ color: white; background-color: #004225}
 .g75{ color: black; background-color: #cd7f32}
 .g76{ color: white; background-color: #a52a2a}
 .g77{ color: black; background-color: #ffc1cc}
 .g78{ color: black; background-color: #e7feff}
 .g79{ color: black; background-color: #f0dc82}
 .g80{ color: white; background-color: #480607}
 .g81{ color: white; background-color: #800020}
 .g82{ color: black; background-color: #deb887}
 .g83{ color: white; background-color: #cc5500}
 .g84{ color: black; background-color: #e97451}
 .g85{ color: white; background-color: #8a3324}
 .g86{ color: white; background-color: #bd33a4}
 .g87{ color: white; background-color: #702963}
 .g88{ color: white; background-color: #007aa5}
 .g89{ color: white; background-color: #e03c31}
 .g90{ color: white; background-color: #536872}
 .g91{ color: black; background-color: #5f9ea0}
 .g92{ color: black; background-color: #91a3b0}
 .g93{ color: white; background-color: #006b3c}
 .g94{ color: black; background-color: #ed872d}
 .g95{ color: white; background-color: #e30022}
 .g96{ color: black; background-color: #fff600}
 .g97{ color: black; background-color: #a67b5b}
 .g98{ color: white; background-color: #4b3621}
 .g99{ color: white; background-color: #1e4d2b}
 .g100{ color: black; background-color: #a3c1ad}
 .g101{ color: black; background-color: #c19a6b}
 .g102{ color: white; background-color: #78866b}
 .g103{ color: black; background-color: #ffff99}
 .g104{ color: black; background-color: #ffef00}
 .g105{ color: white; background-color: #ff0800}
 .g106{ color: black; background-color: #e4717a}
 .g107{ color: black; background-color: #00bfff}
 .g108{ color: white; background-color: #592720}
 .g109{ color: white; background-color: #c41e3a}
 .g110{ color: black; background-color: #00cc99}
 .g111{ color: white; background-color: #ff0040}
 .g112{ color: white; background-color: #eb4c42}
 .g113{ color: white; background-color: #ff0038}
 .g114{ color: black; background-color: #ffa6c9}
 .g115{ color: white; background-color: #b31b1b}
 .g116{ color: black; background-color: #99badd}
 .g117{ color: black; background-color: #ed9121}
 .g118{ color: black; background-color: #ace1af}
 .g119{ color: black; background-color: #b2ffff}
 .g120{ color: black; background-color: #4997d0}
 .g121{ color: white; background-color: #de3163}
 .g122{ color: white; background-color: #ec3b83}
 .g123{ color: white; background-color: #007ba7}
 .g124{ color: white; background-color: #2a52be}
 .g125{ color: white; background-color: #a0785a}
 .g126{ color: black; background-color: #fad6a5}
 .g127{ color: white; background-color: #36454f}
 .g128{ color: black; background-color: #7fff00}
 .g129{ color: white; background-color: #de3163}
 .g130{ color: black; background-color: #ffb7c5}
 .g131{ color: white; background-color: #cd5c5c}
 .g132{ color: white; background-color: #d2691e}
 .g133{ color: black; background-color: #ffa700}
 .g134{ color: black; background-color: #98817b}
 .g135{ color: white; background-color: #e34234}
 .g136{ color: white; background-color: #d2691e}
 .g137{ color: black; background-color: #e4d00a}
 .g138{ color: black; background-color: #fbcce7}
 .g139{ color: white; background-color: #0047ab}
 .g140{ color: white; background-color: #d2691e}
 .g141{ color: white; background-color: #6f4e37}
 .g142{ color: black; background-color: #9bddff}
 .g143{ color: white; background-color: #002e63}
 .g144{ color: black; background-color: #8c92ac}
 .g145{ color: white; background-color: #b87333}
 .g146{ color: white; background-color: #996666}
 .g147{ color: white; background-color: #ff3800}
 .g148{ color: black; background-color: #ff7f50}
 .g149{ color: black; background-color: #f88379}
 .g150{ color: white; background-color: #ff4040}
 .g151{ color: white; background-color: #893f45}
 .g152{ color: black; background-color: #fbec5d}
 .g153{ color: white; background-color: #b31b1b}
 .g154{ color: black; background-color: #9aceeb}
 .g155{ color: black; background-color: #6495ed}
 .g156{ color: black; background-color: #fff8dc}
 .g157{ color: black; background-color: #fff8e7}
 .g158{ color: black; background-color: #ffbcd9}
 .g159{ color: black; background-color: #fffdd0}
 .g160{ color: white; background-color: #dc143c}
 .g161{ color: white; background-color: #990000}
 .g162{ color: white; background-color: #be0032}
 .g163{ color: black; background-color: #00ffff}
 .g164{ color: black; background-color: #ffff31}
 .g165{ color: black; background-color: #f0e130}
 .g166{ color: white; background-color: #00008b}
 .g167{ color: white; background-color: #654321}
 .g168{ color: white; background-color: #5d3954}
 .g169{ color: white; background-color: #a40000}
 .g170{ color: white; background-color: #08457e}
 .g171{ color: white; background-color: #986960}
 .g172{ color: white; background-color: #cd5b45}
 .g173{ color: white; background-color: #008b8b}
 .g174{ color: white; background-color: #536878}
 .g175{ color: black; background-color: #b8860b}
 .g176{ color: black; background-color: #a9a9a9}
 .g177{ color: white; background-color: #013220}
 .g178{ color: white; background-color: #1a2421}
 .g179{ color: black; background-color: #bdb76b}
 .g180{ color: white; background-color: #483c32}
 .g181{ color: white; background-color: #734f96}
 .g182{ color: white; background-color: #8b008b}
 .g183{ color: white; background-color: #003366}
 .g184{ color: white; background-color: #556b2f}
 .g185{ color: black; background-color: #ff8c00}
 .g186{ color: white; background-color: #9932cc}
 .g187{ color: black; background-color: #779ecb}
 .g188{ color: white; background-color: #03c03c}
 .g189{ color: black; background-color: #966fd6}
 .g190{ color: white; background-color: #c23b22}
 .g191{ color: black; background-color: #e75480}
 .g192{ color: white; background-color: #003399}
 .g193{ color: white; background-color: #872657}
 .g194{ color: white; background-color: #8b0000}
 .g195{ color: black; background-color: #e9967a}
 .g196{ color: white; background-color: #560319}
 .g197{ color: black; background-color: #8fbc8f}
 .g198{ color: white; background-color: #3c1414}
 .g199{ color: white; background-color: #483d8b}
 .g200{ color: white; background-color: #2f4f4f}
 .g201{ color: white; background-color: #177245}
 .g202{ color: white; background-color: #918151}
 .g203{ color: black; background-color: #ffa812}
 .g204{ color: white; background-color: #483c32}
 .g205{ color: white; background-color: #cc4e5c}
 .g206{ color: black; background-color: #00ced1}
 .g207{ color: white; background-color: #9400d3}
 .g208{ color: white; background-color: #00693e}
 .g209{ color: white; background-color: #555555}
 .g210{ color: white; background-color: #d70a53}
 .g211{ color: white; background-color: #a9203e}
 .g212{ color: white; background-color: #ef3038}
 .g213{ color: black; background-color: #e9692c}
 .g214{ color: white; background-color: #da3287}
 .g215{ color: black; background-color: #fad6a5}
 .g216{ color: white; background-color: #b94e48}
 .g217{ color: white; background-color: #704241}
 .g218{ color: white; background-color: #c154c1}
 .g219{ color: white; background-color: #004b49}
 .g220{ color: white; background-color: #9955bb}
 .g221{ color: white; background-color: #cc00cc}
 .g222{ color: black; background-color: #ffcba4}
 .g223{ color: white; background-color: #ff1493}
 .g224{ color: black; background-color: #ff9933}
 .g225{ color: black; background-color: #00bfff}
 .g226{ color: white; background-color: #1560bd}
 .g227{ color: black; background-color: #c19a6b}
 .g228{ color: black; background-color: #edc9af}
 .g229{ color: white; background-color: #696969}
 .g230{ color: white; background-color: #1e90ff}
 .g231{ color: white; background-color: #d71868}
 .g232{ color: black; background-color: #85bb65}
 .g233{ color: white; background-color: #967117}
 .g234{ color: white; background-color: #00009c}
 .g235{ color: black; background-color: #e1a95f}
 .g236{ color: black; background-color: #c2b280}
 .g237{ color: white; background-color: #614051}
 .g238{ color: black; background-color: #f0ead6}
 .g239{ color: white; background-color: #1034a6}
 .g240{ color: black; background-color: #7df9ff}
 .g241{ color: white; background-color: #ff003f}
 .g242{ color: black; background-color: #00ffff}
 .g243{ color: black; background-color: #00ff00}
 .g244{ color: white; background-color: #6f00ff}
 .g245{ color: black; background-color: #f4bbff}
 .g246{ color: black; background-color: #ccff00}
 .g247{ color: white; background-color: #bf00ff}
 .g248{ color: white; background-color: #3f00ff}
 .g249{ color: white; background-color: #8f00ff}
 .g250{ color: black; background-color: #ffff00}
 .g251{ color: black; background-color: #50c878}
 .g252{ color: black; background-color: #96c8a2}
 .g253{ color: black; background-color: #c19a6b}
 .g254{ color: white; background-color: #801818}
 .g255{ color: white; background-color: #ff00ff}
 .g256{ color: white; background-color: #b53389}
 .g257{ color: white; background-color: #f400a1}
 .g258{ color: black; background-color: #e5aa70}
 .g259{ color: white; background-color: #4d5d53}
 .g260{ color: black; background-color: #71bc78}
 .g261{ color: white; background-color: #4f7942}
 .g262{ color: white; background-color: #ff2800}
 .g263{ color: white; background-color: #6c541e}
 .g264{ color: white; background-color: #ce2029}
 .g265{ color: white; background-color: #b22222}
 .g266{ color: white; background-color: #e25822}
 .g267{ color: black; background-color: #fc8eac}
 .g268{ color: black; background-color: #f7e98e}
 .g269{ color: black; background-color: #eedc82}
 .g270{ color: black; background-color: #fffaf0}
 .g271{ color: black; background-color: #ffbf00}
 .g272{ color: white; background-color: #ff1493}
 .g273{ color: black; background-color: #ccff00}
 .g274{ color: white; background-color: #ff004f}
 .g275{ color: white; background-color: #228b22}
 .g276{ color: black; background-color: #a67b5b}
 .g277{ color: white; background-color: #0072bb}
 .g278{ color: white; background-color: #86608e}
 .g279{ color: black; background-color: #f64a8a}
 .g280{ color: white; background-color: #ff00ff}
 .g281{ color: black; background-color: #ff77ff}
 .g282{ color: black; background-color: #e48400}
 .g283{ color: black; background-color: #cc6666}
 .g284{ color: black; background-color: #dcdcdc}
 .g285{ color: black; background-color: #e49b0f}
 .g286{ color: black; background-color: #f8f8ff}
 .g287{ color: white; background-color: #b06500}
 .g288{ color: white; background-color: #6082b6}
 .g289{ color: black; background-color: #e6e8fa}
 .g290{ color: black; background-color: #ffd700}
 .g291{ color: white; background-color: #996515}
 .g292{ color: black; background-color: #fcc200}
 .g293{ color: black; background-color: #ffdf00}
 .g294{ color: black; background-color: #daa520}
 .g295{ color: black; background-color: #a8e4a0}
 .g296{ color: white; background-color: #808080}
 .g297{ color: white; background-color: #465945}
 .g298{ color: black; background-color: #00ff00}
 .g299{ color: white; background-color: #1164b4}
 .g300{ color: black; background-color: #adff2f}
 .g301{ color: black; background-color: #a99a86}
 .g302{ color: black; background-color: #00ff7f}
 .g303{ color: white; background-color: #663854}
 .g304{ color: white; background-color: #446ccf}
 .g305{ color: white; background-color: #5218fa}
 .g306{ color: black; background-color: #e9d66b}
 .g307{ color: black; background-color: #3fff00}
 .g308{ color: white; background-color: #c90016}
 .g309{ color: black; background-color: #da9100}
 .g310{ color: white; background-color: #808000}
 .g311{ color: black; background-color: #df73ff}
 .g312{ color: white; background-color: #f400a1}
 .g313{ color: black; background-color: #f0fff0}
 .g314{ color: white; background-color: #49796b}
 .g315{ color: white; background-color: #ff1dce}
 .g316{ color: black; background-color: #ff69b4}
 .g317{ color: white; background-color: #355e3b}
 .g318{ color: black; background-color: #fcf75e}
 .g319{ color: black; background-color: #b2ec5d}
 .g320{ color: white; background-color: #138808}
 .g321{ color: white; background-color: #cd5c5c}
 .g322{ color: black; background-color: #e3a857}
 .g323{ color: white; background-color: #4b0082}
 .g324{ color: white; background-color: #002fa7}
 .g325{ color: white; background-color: #ff4f00}
 .g326{ color: white; background-color: #5a4fcf}
 .g327{ color: black; background-color: #f4f0ec}
 .g328{ color: white; background-color: #009000}
 .g329{ color: black; background-color: #fffff0}
 .g330{ color: white; background-color: #00a86b}
 .g331{ color: black; background-color: #f8de7e}
 .g332{ color: white; background-color: #d73b3e}
 .g333{ color: white; background-color: #a50b5e}
 .g334{ color: black; background-color: #fada5e}
 .g335{ color: black; background-color: #bdda57}
 .g336{ color: white; background-color: #29ab87}
 .g337{ color: white; background-color: #e8000d}
 .g338{ color: black; background-color: #4cbb17}
 .g339{ color: black; background-color: #c3b091}
 .g340{ color: white; background-color: #087830}
 .g341{ color: black; background-color: #d6cadd}
 .g342{ color: white; background-color: #26619c}
 .g343{ color: black; background-color: #fefe22}
 .g344{ color: black; background-color: #a9ba9d}
 .g345{ color: white; background-color: #cf1020}
 .g346{ color: black; background-color: #e6e6fa}
 .g347{ color: black; background-color: #ccccff}
 .g348{ color: black; background-color: #fff0f5}
 .g349{ color: black; background-color: #c4c3d0}
 .g350{ color: white; background-color: #9457eb}
 .g351{ color: black; background-color: #ee82ee}
 .g352{ color: black; background-color: #e6e6fa}
 .g353{ color: black; background-color: #fbaed2}
 .g354{ color: black; background-color: #967bb6}
 .g355{ color: black; background-color: #fba0e3}
 .g356{ color: black; background-color: #7cfc00}
 .g357{ color: black; background-color: #fff700}
 .g358{ color: black; background-color: #fff44f}
 .g359{ color: black; background-color: #fffacd}
 .g360{ color: black; background-color: #bfff00}
 .g361{ color: black; background-color: #f56991}
 .g362{ color: black; background-color: #e68fac}
 .g363{ color: black; background-color: #fdd5b1}
 .g364{ color: black; background-color: #add8e6}
 .g365{ color: white; background-color: #b5651d}
 .g366{ color: black; background-color: #e66771}
 .g367{ color: black; background-color: #f08080}
 .g368{ color: black; background-color: #93ccea}
 .g369{ color: black; background-color: #e0ffff}
 .g370{ color: black; background-color: #f984ef}
 .g371{ color: black; background-color: #fafad2}
 .g372{ color: black; background-color: #d3d3d3}
 .g373{ color: black; background-color: #90ee90}
 .g374{ color: black; background-color: #f0e68c}
 .g375{ color: black; background-color: #b19cd9}
 .g376{ color: black; background-color: #ffb6c1}
 .g377{ color: black; background-color: #ffa07a}
 .g378{ color: black; background-color: #ff9999}
 .g379{ color: black; background-color: #20b2aa}
 .g380{ color: black; background-color: #87cefa}
 .g381{ color: black; background-color: #778899}
 .g382{ color: black; background-color: #b38b6d}
 .g383{ color: black; background-color: #ffffed}
 .g384{ color: black; background-color: #c8a2c8}
 .g385{ color: black; background-color: #bfff00}
 .g386{ color: black; background-color: #32cd32}
 .g387{ color: white; background-color: #195905}
 .g388{ color: black; background-color: #faf0e6}
 .g389{ color: black; background-color: #c19a6b}
 .g390{ color: white; background-color: #534b4f}
 .g391{ color: white; background-color: #e62020}
 .g392{ color: white; background-color: #18453b}
 .g393{ color: black; background-color: #ffbd88}
 .g394{ color: white; background-color: #ff00ff}
 .g395{ color: black; background-color: #aaf0d1}
 .g396{ color: black; background-color: #f8f4ff}
 .g397{ color: white; background-color: #c04000}
 .g398{ color: black; background-color: #fbec5d}
 .g399{ color: white; background-color: #6050dc}
 .g400{ color: black; background-color: #0bda51}
 .g401{ color: black; background-color: #979aaa}
 .g402{ color: black; background-color: #ff8243}
 .g403{ color: black; background-color: #74c365}
 .g404{ color: white; background-color: #800000}
 .g405{ color: black; background-color: #e0b0ff}
 .g406{ color: white; background-color: #915f6d}
 .g407{ color: black; background-color: #ef98aa}
 .g408{ color: black; background-color: #73c2fb}
 .g409{ color: black; background-color: #e5b73b}
 .g410{ color: white; background-color: #0067a5}
 .g411{ color: black; background-color: #66ddaa}
 .g412{ color: white; background-color: #0000cd}
 .g413{ color: white; background-color: #e2062c}
 .g414{ color: white; background-color: #af4035}
 .g415{ color: black; background-color: #f3e5ab}
 .g416{ color: white; background-color: #035096}
 .g417{ color: white; background-color: #1c352d}
 .g418{ color: black; background-color: #dda0dd}
 .g419{ color: white; background-color: #ba55d3}
 .g420{ color: black; background-color: #9370db}
 .g421{ color: white; background-color: #bb3385}
 .g422{ color: black; background-color: #3cb371}
 .g423{ color: white; background-color: #7b68ee}
 .g424{ color: black; background-color: #c9dc87}
 .g425{ color: black; background-color: #00fa9a}
 .g426{ color: white; background-color: #674c47}
 .g427{ color: white; background-color: #0054b4}
 .g428{ color: black; background-color: #48d1cc}
 .g429{ color: white; background-color: #c71585}
 .g430{ color: black; background-color: #fdbcb4}
 .g431{ color: white; background-color: #191970}
 .g432{ color: white; background-color: #004953}
 .g433{ color: black; background-color: #ffc40c}
 .g434{ color: black; background-color: #3eb489}
 .g435{ color: black; background-color: #f5fffa}
 .g436{ color: black; background-color: #98ff98}
 .g437{ color: black; background-color: #ffe4e1}
 .g438{ color: black; background-color: #faebd7}
 .g439{ color: white; background-color: #967117}
 .g440{ color: black; background-color: #73a9c2}
 .g441{ color: white; background-color: #ae0c00}
 .g442{ color: black; background-color: #addfad}
 .g443{ color: black; background-color: #30ba8f}
 .g444{ color: black; background-color: #997a8d}
 .g445{ color: white; background-color: #c54b8c}
 .g446{ color: black; background-color: #f2f3f4}
 .g447{ color: black; background-color: #ffdb58}
 .g448{ color: white; background-color: #21421e}
 .g449{ color: black; background-color: #f6adc6}
 .g450{ color: white; background-color: #2a8000}
 .g451{ color: black; background-color: #fada5e}
 .g452{ color: black; background-color: #ffdead}
 .g453{ color: white; background-color: #000080}
 .g454{ color: black; background-color: #ffa343}
 .g455{ color: black; background-color: #fe59c2}
 .g456{ color: black; background-color: #39ff14}
 .g457{ color: black; background-color: #a4dded}
 .g458{ color: white; background-color: #059033}
 .g459{ color: white; background-color: #0077be}
 .g460{ color: black; background-color: #cc7722}
 .g461{ color: white; background-color: #008000}
 .g462{ color: black; background-color: #cfb53b}
 .g463{ color: black; background-color: #fdf5e6}
 .g464{ color: white; background-color: #796878}
 .g465{ color: white; background-color: #673147}
 .g466{ color: black; background-color: #c08081}
 .g467{ color: white; background-color: #808000}
 .g468{ color: white; background-color: #6b8e23}
 .g469{ color: black; background-color: #bab86c}
 .g470{ color: black; background-color: #9ab973}
 .g471{ color: white; background-color: #0f0f0f}
 .g472{ color: black; background-color: #b784a7}
 .g473{ color: black; background-color: #ffa500}
 .g474{ color: black; background-color: #f8d568}
 .g475{ color: black; background-color: #ff9f00}
 .g476{ color: white; background-color: #ff4500}
 .g477{ color: black; background-color: #da70d6}
 .g478{ color: white; background-color: #654321}
 .g479{ color: white; background-color: #414a4c}
 .g480{ color: black; background-color: #ff6e4a}
 .g481{ color: white; background-color: #002147}
 .g482{ color: black; background-color: #1ca9c9}
 .g483{ color: white; background-color: #006600}
 .g484{ color: white; background-color: #273be2}
 .g485{ color: white; background-color: #682860}
 .g486{ color: black; background-color: #bcd4e6}
 .g487{ color: black; background-color: #afeeee}
 .g488{ color: white; background-color: #987654}
 .g489{ color: white; background-color: #af4035}
 .g490{ color: black; background-color: #9bc4e2}
 .g491{ color: black; background-color: #ddadaf}
 .g492{ color: black; background-color: #da8a67}
 .g493{ color: black; background-color: #abcdef}
 .g494{ color: black; background-color: #e6be8a}
 .g495{ color: black; background-color: #eee8aa}
 .g496{ color: black; background-color: #98fb98}
 .g497{ color: black; background-color: #dcd0ff}
 .g498{ color: black; background-color: #f984e5}
 .g499{ color: black; background-color: #fadadd}
 .g500{ color: black; background-color: #dda0dd}
 .g501{ color: black; background-color: #db7093}
 .g502{ color: black; background-color: #96ded1}
 .g503{ color: black; background-color: #c9c0bb}
 .g504{ color: black; background-color: #ecebbd}
 .g505{ color: black; background-color: #bc987e}
 .g506{ color: black; background-color: #db7093}
 .g507{ color: white; background-color: #78184a}
 .g508{ color: black; background-color: #ffefd5}
 .g509{ color: black; background-color: #50c878}
 .g510{ color: black; background-color: #aec6cf}
 .g511{ color: white; background-color: #836953}
 .g512{ color: black; background-color: #cfcfc4}
 .g513{ color: black; background-color: #77dd77}
 .g514{ color: black; background-color: #f49ac2}
 .g515{ color: black; background-color: #ffb347}
 .g516{ color: black; background-color: #ffd1dc}
 .g517{ color: black; background-color: #b39eb5}
 .g518{ color: black; background-color: #ff6961}
 .g519{ color: black; background-color: #cb99c9}
 .g520{ color: black; background-color: #fdfd96}
 .g521{ color: white; background-color: #800080}
 .g522{ color: white; background-color: #536878}
 .g523{ color: black; background-color: #ffe5b4}
 .g524{ color: black; background-color: #ffdab9}
 .g525{ color: black; background-color: #fadfad}
 .g526{ color: black; background-color: #d1e231}
 .g527{ color: black; background-color: #eae0c8}
 .g528{ color: black; background-color: #88d8c0}
 .g529{ color: black; background-color: #e6e200}
 .g530{ color: black; background-color: #ccccff}
 .g531{ color: white; background-color: #1c39bb}
 .g532{ color: white; background-color: #32127a}
 .g533{ color: black; background-color: #d99058}
 .g534{ color: black; background-color: #f77fbe}
 .g535{ color: white; background-color: #701c1c}
 .g536{ color: white; background-color: #cc3333}
 .g537{ color: white; background-color: #fe28a2}
 .g538{ color: white; background-color: #df00ff}
 .g539{ color: white; background-color: #000f89}
 .g540{ color: white; background-color: #123524}
 .g541{ color: black; background-color: #fddde6}
 .g542{ color: white; background-color: #01796f}
 .g543{ color: black; background-color: #ffc0cb}
 .g544{ color: black; background-color: #fc74fd}
 .g545{ color: black; background-color: #f78fa7}
 .g546{ color: black; background-color: #e7accf}
 .g547{ color: black; background-color: #93c572}
 .g548{ color: black; background-color: #e5e4e2}
 .g549{ color: black; background-color: #dda0dd}
 .g550{ color: black; background-color: #ff5a36}
 .g551{ color: black; background-color: #b0e0e6}
 .g552{ color: black; background-color: #ff8f00}
 .g553{ color: white; background-color: #003153}
 .g554{ color: white; background-color: #df00ff}
 .g555{ color: black; background-color: #cc8899}
 .g556{ color: black; background-color: #ff7518}
 .g557{ color: white; background-color: #800080}
 .g558{ color: white; background-color: #69359c}
 .g559{ color: black; background-color: #9d81ba}
 .g560{ color: black; background-color: #9678b6}
 .g561{ color: black; background-color: #fe4eda}
 .g562{ color: white; background-color: #50404d}
 .g563{ color: white; background-color: #5d8aa8}
 .g564{ color: white; background-color: #ff355e}
 .g565{ color: white; background-color: #e30b5d}
 .g566{ color: white; background-color: #915f6d}
 .g567{ color: black; background-color: #e25098}
 .g568{ color: white; background-color: #b3446c}
 .g569{ color: black; background-color: #d68a59}
 .g570{ color: white; background-color: #ff33cc}
 .g571{ color: white; background-color: #e3256b}
 .g572{ color: white; background-color: #ff0000}
 .g573{ color: black; background-color: #ff5349}
 .g574{ color: white; background-color: #a52a2a}
 .g575{ color: white; background-color: #c71585}
 .g576{ color: white; background-color: #004040}
 .g577{ color: white; background-color: #d70040}
 .g578{ color: white; background-color: #0892d0}
 .g579{ color: black; background-color: #b666d2}
 .g580{ color: white; background-color: #b03060}
 .g581{ color: white; background-color: #414833}
 .g582{ color: black; background-color: #1fcecb}
 .g583{ color: white; background-color: #ff007f}
 .g584{ color: black; background-color: #f9429e}
 .g585{ color: white; background-color: #674846}
 .g586{ color: black; background-color: #b76e79}
 .g587{ color: white; background-color: #e32636}
 .g588{ color: black; background-color: #ff66cc}
 .g589{ color: black; background-color: #aa98a9}
 .g590{ color: white; background-color: #905d5d}
 .g591{ color: white; background-color: #ab4e52}
 .g592{ color: white; background-color: #65000b}
 .g593{ color: white; background-color: #d40000}
 .g594{ color: black; background-color: #bc8f8f}
 .g595{ color: white; background-color: #0038a8}
 .g596{ color: white; background-color: #4169e1}
 .g597{ color: white; background-color: #ca2c92}
 .g598{ color: white; background-color: #7851a9}
 .g599{ color: white; background-color: #e0115f}
 .g600{ color: white; background-color: #ff0028}
 .g601{ color: white; background-color: #bb6528}
 .g602{ color: black; background-color: #e18e96}
 .g603{ color: white; background-color: #a81c07}
 .g604{ color: white; background-color: #80461b}
 .g605{ color: white; background-color: #b7410e}
 .g606{ color: white; background-color: #00563f}
 .g607{ color: white; background-color: #8b4513}
 .g608{ color: black; background-color: #ff6700}
 .g609{ color: black; background-color: #f4c430}
 .g610{ color: white; background-color: #23297a}
 .g611{ color: black; background-color: #ff8c69}
 .g612{ color: black; background-color: #ff91a4}
 .g613{ color: black; background-color: #c2b280}
 .g614{ color: white; background-color: #967117}
 .g615{ color: black; background-color: #ecd540}
 .g616{ color: black; background-color: #f4a460}
 .g617{ color: white; background-color: #967117}
 .g618{ color: white; background-color: #507d2a}
 .g619{ color: white; background-color: #0f52ba}
 .g620{ color: black; background-color: #cba135}
 .g621{ color: white; background-color: #ff2400}
 .g622{ color: black; background-color: #ffd800}
 .g623{ color: black; background-color: #76ff7a}
 .g624{ color: white; background-color: #006994}
 .g625{ color: white; background-color: #2e8b57}
 .g626{ color: white; background-color: #321414}
 .g627{ color: black; background-color: #fff5ee}
 .g628{ color: black; background-color: #ffba00}
 .g629{ color: white; background-color: #704214}
 .g630{ color: white; background-color: #8a795d}
 .g631{ color: black; background-color: #45cea2}
 .g632{ color: white; background-color: #009e60}
 .g633{ color: white; background-color: #fc0fc0}
 .g634{ color: white; background-color: #882d17}
 .g635{ color: black; background-color: #c0c0c0}
 .g636{ color: white; background-color: #cb410b}
 .g637{ color: white; background-color: #007474}
 .g638{ color: black; background-color: #87ceeb}
 .g639{ color: black; background-color: #cf71af}
 .g640{ color: white; background-color: #6a5acd}
 .g641{ color: white; background-color: #708090}
 .g642{ color: white; background-color: #003399}
 .g643{ color: white; background-color: #933d41}
 .g644{ color: white; background-color: #100c08}
 .g645{ color: black; background-color: #fffafa}
 .g646{ color: black; background-color: #0fc0fc}
 .g647{ color: black; background-color: #a7fc00}
 .g648{ color: black; background-color: #00ff7f}
 .g649{ color: white; background-color: #4682b4}
 .g650{ color: black; background-color: #fada5e}
 .g651{ color: white; background-color: #990000}
 .g652{ color: white; background-color: #008080}
 .g653{ color: black; background-color: #e4d96f}
 .g654{ color: black; background-color: #ffcc33}
 .g655{ color: black; background-color: #fad6a5}
 .g656{ color: black; background-color: #fd5e53}
 .g657{ color: black; background-color: #d2b48c}
 .g658{ color: white; background-color: #f94d00}
 .g659{ color: black; background-color: #f28500}
 .g660{ color: black; background-color: #ffcc00}
 .g661{ color: white; background-color: #483c32}
 .g662{ color: black; background-color: #8b8589}
 .g663{ color: white; background-color: #cd5700}
 .g664{ color: black; background-color: #d0f0c0}
 .g665{ color: black; background-color: #f4c2c2}
 .g666{ color: white; background-color: #008080}
 .g667{ color: white; background-color: #367588}
 .g668{ color: white; background-color: #006d5b}
 .g669{ color: black; background-color: #e2725b}
 .g670{ color: black; background-color: #d8bfd8}
 .g671{ color: black; background-color: #de6fa1}
 .g672{ color: black; background-color: #fc89ac}
 .g673{ color: black; background-color: #0abab5}
 .g674{ color: black; background-color: #e08d3c}
 .g675{ color: black; background-color: #dbd7d2}
 .g676{ color: black; background-color: #eee600}
 .g677{ color: black; background-color: #ff6347}
 .g678{ color: white; background-color: #746cc0}
 .g679{ color: black; background-color: #ffc87c}
 .g680{ color: white; background-color: #fd0e35}
 .g681{ color: white; background-color: #808080}
 .g682{ color: white; background-color: #00755e}
 .g683{ color: white; background-color: #0073cf}
 .g684{ color: white; background-color: #417dc1}
 .g685{ color: black; background-color: #deaa88}
 .g686{ color: black; background-color: #b57281}
 .g687{ color: black; background-color: #30d5c8}
 .g688{ color: black; background-color: #00ffef}
 .g689{ color: black; background-color: #a0d6b4}
 .g690{ color: white; background-color: #66424d}
 .g691{ color: white; background-color: #8a496b}
 .g692{ color: white; background-color: #66023c}
 .g693{ color: white; background-color: #0033aa}
 .g694{ color: white; background-color: #d9004c}
 .g695{ color: white; background-color: #536895}
 .g696{ color: black; background-color: #ffb300}
 .g697{ color: black; background-color: #3cd070}
 .g698{ color: white; background-color: #014421}
 .g699{ color: white; background-color: #7b1113}
 .g700{ color: white; background-color: #990000}
 .g701{ color: black; background-color: #ffcc00}
 .g702{ color: black; background-color: #8878c3}
 .g703{ color: black; background-color: #ff6fff}
 .g704{ color: white; background-color: #120a8f}
 .g705{ color: white; background-color: #4166f5}
 .g706{ color: white; background-color: #635147}
 .g707{ color: black; background-color: #5b92e5}
 .g708{ color: black; background-color: #b78727}
 .g709{ color: black; background-color: #ffff66}
 .g710{ color: white; background-color: #ae2029}
 .g711{ color: black; background-color: #e1ad21}
 .g712{ color: white; background-color: #d3003f}
 .g713{ color: black; background-color: #f3e5ab}
 .g714{ color: black; background-color: #c5b358}
 .g715{ color: white; background-color: #c80815}
 .g716{ color: black; background-color: #43b3ae}
 .g717{ color: white; background-color: #e34234}
 .g718{ color: white; background-color: #a020f0}
 .g719{ color: black; background-color: #ee82ee}
 .g720{ color: white; background-color: #324ab2}
 .g721{ color: black; background-color: #f75394}
 .g722{ color: white; background-color: #40826d}
 .g723{ color: white; background-color: #922724}
 .g724{ color: white; background-color: #9f1d35}
 .g725{ color: white; background-color: #da1d81}
 .g726{ color: black; background-color: #ffa089}
 .g727{ color: white; background-color: #9f00ff}
 .g728{ color: white; background-color: #004242}
 .g729{ color: black; background-color: #00ffff}
 .g730{ color: white; background-color: #645452}
 .g731{ color: black; background-color: #f5deb3}
 .g732{ color: black; background-color: #ffffff}
 .g733{ color: black; background-color: #f5f5f5}
 .g734{ color: black; background-color: #ff43a4}
 .g735{ color: black; background-color: #fc6c85}
 .g736{ color: black; background-color: #a2add0}
 .g737{ color: white; background-color: #722f37}
 .g738{ color: black; background-color: #c9a0dc}
 .g739{ color: white; background-color: #738678}
 .g740{ color: white; background-color: #0f4d92}
 .g741{ color: black; background-color: #ffff00}
 .g742{ color: black; background-color: #ffae42}
 .g743{ color: black; background-color: #9acd32}
 .g744{ color: white; background-color: #0014a8}
 .g745{ color: white; background-color: #2c1608}
 
 